.Textoprincipal{
    margin-top: 20px;

    .subtituloPrincipal{
        margin-top: 20px;

    }

}
.contenedorTarjetas{
            .tarjeta{
            color: $color-tarjetas;
            width: 500px;
 }
    
    }
