*{
    margin: 0;
    padding: 0;
    
}
body{
    color:$color-body; 
    font-family:$font-family; 
    line-height: initial;
}

*{
    font-family:$tipografia-alternativa;
   
}
h1{
    color: $brown-titulos;
    font-family:$font-family;
}
p{
    font-family:$tipografia-alternativa; 
    font-size: 1rem;
}