$brown-titulos: #79561e;
$color-tarjetas:  #c98a1f;
$color-body: #704f19;
$bg-body: rgba(230, 222, 190, 0.849);


$font-family: 'Open Sans', sans-serif;
$tipografia-alternativa: 'Raleway', sans-serif;

$redes:(
    insta: rgb(129, 41, 60),
    wpp: rgb(33, 192, 99),
    );

$anchos: (
    ancho-90: 90%,
    ancho-80: 80%,
    ancho-70: 70%,
)
